doctype strict
head
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(name="viewport" content="width=device-width")

body
	p Olá #{name},

	p Segue link para recuperação de senha:

	p <a href=#{url}>#{url}</a>

	p Atenciosamente,
	p CRM.
